<section class="row row-grey equal-height">
    <div class="wrapper equal-height--vertical-divider">
        <div class="six-col equal-height--vertical-divider__item">
            <h2>Learn more</h2>
            <p>Want to know more about snaps, <code class="command-inline">snapd</code>, Snapcraft and Ubuntu Core?</p>
            <ul class="no-bullets">
                <li><a href="https://forum.snapcraft.io/" class="external">Forum</a></li>
                <li><a href="https://rocket.ubuntu.com/channel/snapcraft" class="external">Real-time chat</a></li>
                <li><a href="http://stackoverflow.com/questions/ask?tags=snapcraft" class="external">Snapcraft on Stack Overflow</a></li>
            </ul>
        </div>
        <div class="six-col last-col equal-height--vertical-divider__item">
            <h2>Contribute</h2>
            <p>Interested in helping build Snapcraft and expand its reach?</p>
            <ul class="no-bullets">
                <li><a href="https://github.com/canonical-websites/snapcraft.io" class="external">Fork this website on GitHub</a></li>
                <li><a href="https://github.com/snapcore/snapcraft" class="external">Fork snapcraft on GitHub</a></li>
                <li><a href="https://github.com/snapcore/snapd" class="external">Fork snapd on GitHub</a></li>
            </ul>
        </div>
    </div>
</section>
